<nav class="navbar is-success is-bold" role="navigation" aria-label="main navigation">
    <div class="navbar-item">
        <span class="title is-4 has-text-weight-light has-text-white">Cuentalana</span>
    </div>
</nav>
<section class="section">
    <div class="container-fluid">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-size-5">
                            Billetes
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div class="field" *ngFor="let denomination of bills">
                                <label class="label has-text-weight-light">{{denomination.value | currency:'USD':true:'1.0-2'}}</label>
                                <div class="control">
                                    <input class="input has-text-weight-light" type="tel" [(ngModel)]="denomination.quantity">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-size-5">
                            Monedas
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div class="field" *ngFor="let denomination of coins">
                                <label class="label has-text-weight-light">{{denomination.value | currency:'USD':true:'1.0-2'}}</label>
                                <div class="control">
                                    <input class="input has-text-weight-light" type="tel" [(ngModel)]="denomination.quantity">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="box is-radiusless">
                    <div class="content has-text-success is-size-2">
                        Total:
                        <span class="has-text-weight-bold">{{sum() | currency:'USD':true:'1.2-2'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
